:root {
    --dark-pink: rgb(186, 66, 112);
    --link-water-white: rgb(251, 252, 254);
    --san-juan-blue: rgb(54, 86, 107);
    --mirage-blue: rgb(27, 38, 47);
    --charm-pink: rgb(218, 109, 151);
    --light-san-juan-blue: rgb(108, 130, 148);
} 
 @media screen and (min-width: 1440px) {
        .main-content__div {
        max-width: 1440px;
        margin: 0 auto;
    }
 
    .header-container{
        background-color: rgb(237,243,248,255);
        display: grid;
        grid-template-columns:1.2fr 1fr;
        grid-template-rows: 1fr;
        max-height: 692px;
     }

    .header-container__grid-in-columns h1{
        display: grid;
        grid-template-columns: 546px;
        color: #36536b;
        font-family: 'DM Serif Display';
        font-size: 72px;
        line-height: 72px;
        font-weight: 400; 
    }       
    .header-container__phone-img-grid:nth-of-type(1) {
         grid-column-start: 2; 
    }

    .header-container__grid-in-columns{
        padding-left: 165px;
        padding-top: 155px;
    
    }

    .header-container__phone-img-grid{
        display: grid;
        height: auto;
        text-align: right;
        grid-template-columns: 2fr;
        grid-row: 1;
        padding-top: 83px;
    }

    .header-container__phone-img{
        display: grid;
        width: auto;
        height: auto;
        min-height: 392px;
        padding-right: auto;
        padding-left: 94px;
    }

    .header-container__nav-form{
        display: grid;
        grid-template-columns:280px 180px;
        }

    input[type="header-container__email"]{
        width: 425px;
        height: 48px;
        background-color :rgb(251, 252, 254);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        opacity: 50%;
        border-radius: 25px;
        border: 0px solid #FBFCFE;
        padding: 0px 0px 0px 28px; 
    }



    .header-container__have-any-questions-span{
        color:rgb(108, 130, 148);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        padding-left: 28px;
    }

    .header-container__contact-us{
        color: rgba(108, 130, 148, 1);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
    }

    a:link {
        text-decoration: none;
    }

    .header-container__have-any-questions{
        padding-top: 15px;
    } 

 
    .header-container__button-text{
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height:0.5px;
        letter-spacing: -0.115px;
        color: var(--link-water-white);
        z-index: 1;

    }

    .button--primary-pink{
        background-color: var(--dark-pink);
        border: none;
        border-radius: 24px;
        width: 173px; 
        height: 50px;  
        padding-left: 20px 0px;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25),
        -10px -10px 25px -10px rgba(0, 0, 0, 0.5);
         
    }

    .button--primary-pink:hover, .button--primary-pink:active{
    cursor: pointer;
    background-color: var(--charm-pink); 
    }  
}
      /* <---------------------------> */

            /* <---------------------------> */

        /* <---------------------------> */



@media screen and (max-width: 768px) and (min-width: 376px){
    .header-container {
        display: grid;
        background-color: rgb(251, 252, 254); 
    }

    .header-container{
        grid-template-columns: 2fr;
        max-width: 768px;
    }

    .button--primary-pink{

        background-color: var(--dark-pink);
        border: none;
        border-radius: 24px;
        width: auto; 
        height: 50px;  
        padding: 0px 22px;
        margin-top: 10px;
        margin-right: 10px;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25),
        -10px -10px 25px -10px rgba(0, 0, 0, 0.5);
    }

    .button--primary-pink:hover, .button--primary-pink:active{
        cursor: pointer;
        background-color: var(--charm-pink); 
    }  

   .header-container__phone-img{
        display: grid;
        height: 385px;
        max-width: auto;
        margin-left:266px;
        margin-right: 293px;
        margin-bottom:-25px;
    }

    .header-container__phone-img-grid{
        margin-bottom: -20px;
    }


    .header-container__button-text{
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height:0.5px;
        letter-spacing: -0.115px;
        color: var(--link-water-white);
        z-index: 1;
    }


    input[type="header-container__email"]{
        width: 430px;
        height: 48px;
        background-color :rgb(251, 252, 254);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        opacity: 50%;
        border-radius: 25px;
        border: 0px solid #FBFCFE;
        margin: 10px;
    }


    .header-container__phone-img-grid{
        display: grid;
        width: auto;
    }

    .header-container__nav-form{
        display: grid;
        grid-template-columns:280px 180px;
        margin-left: 145px;  
    }


    .header-container__grid-in-columns{
        height: 380px;

    }

    .header-container__grid-in-columns h1{
        color: #36536b;
        font-family: DM Serif Display;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.37px;
        margin-left: 112px;
        margin-right: 175px;
        text-align: center;
        line-height: 56px;
        margin-bottom: 25px;
    }


    .header-container__have-any-questions-span{
        color:rgb(108, 130, 148);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        padding-left: 28px;
    }

    .header-container__have-any-questions{
        margin-top: 0px;
        padding-left: 235px;
    } 

    .header-container__contact-us{
        color: rgba(108, 130, 148, 1);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height:17.63px;
        letter-spacing: 0px;
    }


    a:link {
        text-decoration: none;
    }

}

     /* <---------------------------> */

            /* <---------------------------> */

        /* <---------------------------> */




@media screen and (max-width: 376px) {
    .header-container {
        display: grid;
        text-align: center;
        max-width: 376px;
    }

     .header-container__button-text{
        font-family: Public Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height:0.5px;
        letter-spacing: -0.115px;
        color: var(--link-water-white);
        z-index: 1;
        padding:-100;

     }

        .button--primary-pink{
        background-color: var(--dark-pink);
        border: none;
        border-radius: 24px;
        margin-top: 75px;
        margin-left: -265px;
        padding:  20px;
        width:327px; 
        height: 50px;  
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25),
        -10px -10px 25px -10px rgba(0, 0, 0, 0.5);
    }
    


    .button--primary-pink:hover, .button--primary-pink:active{
        cursor: pointer;
        background-color: var(--charm-pink); 
    }  

    .header-container__phone-img{
        max-width: 376px;
        display: grid;
        height: 315px;
        margin-left: 95px;
        margin-right: 100px;
    }

    .header-container__phone-img-grid{
        display: grid;
        max-width: 376px;

    }

    .header-container__grid-in-columns h1{
       max-width: 327px;
        color: #36536b;
        font-family: DM Serif Display;
        padding-top: 16px;
        padding-left: 16px;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: -0.24px;
        margin: 1px;
        text-align: center;
        line-height: 36px;
    }

    .header-container__grid-in-columns{
        display: grid;
        /* padding: 0px 24px; */
        grid-template-columns: 376px ;
        /* grid-template-rows: 80px 100px; */
    }


     .header-container__nav-form {
        display: grid;
        text-align: center;
        /* padding-top: 24px;
        /* grid-template-columns */
        }

        .header-container__nav-form {
            padding-left: 0px;
            margin-left: 0px;
        }
        

    input[type="header-container__email"]{
        height: 48px;
        background-color :rgb(251, 252, 254);
        font-family: Public Sans;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        opacity: 50%;
        border-radius: 25px;
        border: 0px solid;
        max-width: 295px;
        height: 48px;
        padding-left: 28px;
        margin-left: 15px;

    }

    .header-container__have-any-questions{
        padding:0px 0px;
        padding-bottom: 40px;
        margin-left:-50px;
    } 
}

